{
  "overrides": [
    {
      "files": "**/*.sol",
      "options": {
        "printWidth": 222200,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": true
      }
    }
  ]
}
